<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Deep Links" stopProcessing="true">
          <match url="games/free-online-game/.*" />
          <action type="Rewrite" url="play.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>